.navbar {
    position: sticky;
    top: 0;
    align-items: center;
    border-radius: 0px;
    padding-inline: var(--main-padding);
}
.navbar>.navbar-brand {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}
.navbar>.navbar-brand > img {
    border-radius: 5px;
    height: 40px;
    object-fit: contain;
}
#navbarDropdownMenuLink > span{
    font-size: 2rem;
    color:var(--theme-color);
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}