.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#front p{
  color: var(--c26);
}

.button {
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  width: auto;

}

.button.disabled{
  cursor:not-allowed;
  filter: brightness(30%);
}

.button:hover:not(.disabled){
  filter: brightness(90%);
}

.button[t="sub"] {
  background-color: var(--c10);
}

.button[t="main"] {
  background-color: var(--theme-color);
}

.button[t="no"] {
  background-color: darkred;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.table{
  background-color: var(--c3);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--c26);
  overflow-y: hidden;
}
.table tr{
  border-color: var(--c2);
}
.table thead tr:last-of-type{
  background-color: var(--c5);
}
.table thead tr:last-of-type th{
  padding-top: 10px;
  padding-bottom: 10px;
}
.table>tbody>tr>td:last-of-type{
  padding-right: 20px;
}
.table>tbody>tr>th{
  padding-left: 20px;
}
.table>tbody>tr>td:last-of-type>.button{
  background-color: var(--c5);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.option{
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.option > .button{
  flex: 1;
  font-size: large;
  padding: 12px;
  padding-inline: 25px;
}
.options{
  display: flex;
  gap: 20px;
}
.options > .button{
  flex: 1;
  padding-inline: 30px;
}
:root{

  --dropshadow: 0px 0px 15px 5px var(--c2);
  --border: 1px solid var(--c2);
  --theme-color: #726ae3;
  --theme-color2: #DBE36A;
  --cancel-color: #898989;

  --main-padding: 15%;
  --background-color: #fff;

--c1 : #000000;
--c2 : #06060b;
--c3 : #0c0c16;
--c4 : #131222;
--c5 : #19182d;
--c6 : #1f1f38;
--c7 : #262544;
--c8 : #2c2b4f;
--c9 : #32315b;
--c10 : #393766;
--c11 : #3f3e71;
--c12 : #45447d;
--c13 : #4c4a88;
--c14 : #525093;
--c15 : #58569f;
--c16 : #615fa8;
--c17 : #6c6bae;
--c18 : #7876b4;
--c19 : #8381ba;
--c20 : #8e8dc0;
--c21 : #9998c7;
--c22 : #a5a3cd;
--c23 : #b0afd3;
--c24 : #bbbad9;
--c25 : #c6c6df;
--c26 : #d2d1e6;
--c27 : #dddcec;
--c28 : #e8e8f2;
--c29 : #f3f3f8;
--c30 : #fffffe;

--nav : var(--c5);
--nav-border : var(--c2);
--nav-fore : var(--c28);
--main : var(--c4);
--main-fore1 : var(--c30);
--main-fore2 : var(--c28);
--main-fore3 : var(--c26);
--block-info : var(--c3);
}

@media only screen and (min-width: 1500px) {
  body {
    --main-padding: 20%;
  }
}
@media only screen and (min-width: 2000px) {
  body {
    --main-padding: 30%;
  }
}

#message{
  opacity: 0;
  pointer-events: none;
  display: flex;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 90000;
  background-color: transparent;

  user-select: none;
  cursor: pointer;
  color: #fff;
  padding-inline: var(--main-padding);

  justify-content: center;
}
#message > div{
  position: relative;
  padding: 15px;
  padding-inline: 70px;
  height: fit-content;
  width: max-content;
}
#message > div::before{
  z-index: -1;
  content: "";
  top: 0;
  border-radius: 10px;
  left: 0;
  position: absolute;
  background-color: var(--c2);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

body{
  background-color: var(--main);
}
.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-inline: var(--main-padding);
  padding-top: 40px;
  padding-bottom: 200px;
}

.form-select, .form-control{
  color: var(--c26);
  border: var(--border);
}

.form-control:focus, .form-control:hover{
  color: var(--c30);
}

.main-container .form-select, .main-container .form-control{
  background-color: var(--c3);
}

.main-container>div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
h3{
  color: var(--main-fore1);
  padding-bottom: 20px;
}

.venue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.venue>.block {
  display: inline-block;
  flex: 1;
  gap: 20px;
  min-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-areas:
    "left right";
}
.venue.booking>.block{
  max-height: 380px;
}

.venue>.block>div {
  overflow: hidden;
}

.venue>.block>.img {
  position: relative;
  grid-area: left;
  aspect-ratio: 1.1 / 1;
  user-select: none;
}
.venue.booking>.block>.img {
  margin: 0px;
  aspect-ratio: auto;
}
.venue>.block>.img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.venue>.block>.info {
  color: rgba(255, 255, 255, 0.5);
  grid-area: right;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.25fr 1.5fr;
  grid-template-rows: 0.75fr 0.5fr 0.75fr 1.5fr, 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "name name name type type "
    "capacity staffname staffname staffname fee"
    "address address address address address"
    "desc desc desc desc desc"
    "time time time book book";
}
.venue.booking>.block>.info {
  grid-template-rows: 0.75fr 0.5fr 0.75fr 1.5fr;
  grid-template-areas:
    "name name name type type "
    "capacity staffname staffname staffname fee"
    "address address address address address"
    "desc desc desc desc desc";
}

.venue>.block>.info>div {
  display: flex;
  gap: 3px;
  padding: 8px;
  align-items: center;
  user-select: none;
  border-radius: 5px;
}
.venue.booking>.block>.info>div {
  gap: 5px;
  padding: 10px;
}
.venue>.block>.info>div>span{
  color: rgba(255, 255, 255, 0.2);
  padding-right: 8px;
}

.venue>.block>.info>div:not(.button) {
  background-color: var(--block-info);
}

.venue>.block>.info>div.button:last-of-type {
  background-color: var(--c10) !important;
}

.venue>.block>.info>div>p {
  display: inline;
  text-overflow: ellipsis;
  margin: 0px;
}

.info>.name {
  grid-area: name;
}

.info>.type {
  grid-area: type;
}

.info>.desc {
  grid-area: desc;
}

.info>.address {
  grid-area: address;
}

.info>.capacity {
  grid-area: capacity;
}

.info>.staffname {
  grid-area: staffname;
}

.info>.fee {
  grid-area: fee;
}

.venue.booking>.block>.info>.time,
.venue.booking>.block>.info>.book {
  display: none;
}

.info>.time {
  grid-area: time;
}

.info>.book {
  grid-area: book;
}


#createbooking {
  color: rgba(255, 255, 255, 0.6);
}
.bookingGuestContainer {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding-bottom:40px;
}

.bookingGuestContainer>div>.bookingGuest {
  flex: 1;
  height: 100%;
  width: auto;
  min-height: 80px;
  background-color: var(--c5);
  border-radius: 5px;
  border: var(--border);
  overflow-y: overlay;
  overflow: hidden;
}
.bookingGuestContainer>div>.bookingGuest>.list-group>.list-group-item{
  user-select: none;
  border: none;
  border-radius: 0px;
  border-bottom: var(--border);
  background-color: inherit;
  color: rgba(255, 255, 255, 1);
}
#createbooking>div{
  margin-bottom: 30px;
}
#createbooking>.venue.booking{
  margin-bottom: 50px;
}

#createbooking .MuiInputLabel-formControl{
  color: rgba(255, 255, 255, 0.6);
}
#createbooking .MuiInputBase-input{
  color: rgba(255, 255, 255, 1);
}
#createbooking .MuiSvgIcon-root{
  color: rgba(255, 255, 255, 0.3);
}
#createbooking>.dateTimeSession{
  justify-content: center;
  display: flex;
  gap: 20px;
  color: rgba(255, 255, 255, 0.6);
}
#createbooking>.dateTimeSession>div:last-child{
  background-color: var(--main);
  position: relative;
}
#createbooking>.dateTimeSession>div:last-child>span{
  user-select: none;
  position: absolute;
  left: 0;
  font-size:16px;
  background-color: inherit;
  transform: matrix(0.75, 0, 0, 0.75, -10, -15);
}
#createbooking>.dateTimeSession>div:last-child>input{
  height: 100%;
  border-radius: 4px;
  padding-inline: 13px;
  border: var(--border);
  border-color:rgba(0, 0, 0, 0.26);
  background-color: inherit;
  color: rgba(255, 255, 255, 1);
}

#register{
  font-size: large;
  color: rgba(255, 255, 255, 0.5);
}

#register .input-group{
  gap: 30px;
}

#emailtest input, 
#register input{
  font-size: large;
  padding: 10px;
  padding-inline: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#register .helper{
  font-size: medium;
  padding-bottom: 20px;
}

#emailtest{
  font-size: large;
  color: rgba(255, 255, 255, 0.5);
}